.ebooks--wrapper {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 287px 80px;
}

.ebooks-content h2 {
    letter-spacing: 0;
    font-family: Rubik;
    font-size: 50px;
    font-weight: 600;
    line-height: 59.25px;
    text-align: left;
    color: #fff;
    margin: 0 0 8px;
}

.ebooks-content p {
    margin: 0;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    color: #fff;
}

.ebook-btn--wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
}

.ebook-btn--wrapper a {
    display: block;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #1B1F23;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 14.5px 10px;
    min-width: 190px;
    text-align: center;
    border: 1px solid #FFFFFF;
    transition: all 0.4s;
    text-decoration: none;
}

.ebook-btn--wrapper a.bor-btn,.ebook-btn--wrapper a:hover {
    background: none;
    color: #fff;
}

.ebook-btn--wrapper a.bor-btn:hover {
    background: #FFF;
    color: #1B1F23;
}