.marquee--wrapper {
    background: #000;
    padding: 16.5px 0;
    pointer-events: none;
}

.marquee-text p {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin: 0;
}

.marquee-text {
    display: flex;
    align-items: center;
    gap: 16px;
}

.marquee-slide {
    margin-right: 16px;
    display: block !important;
}