.instagram--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 80px 0;
}

.instagram-box {
    width: calc(16.66% - 8.33px);
    border-radius: 8px;
}

.instagram-box.instagram-content {
    width: calc(33.33% - 8.33px);
    background: rgba(246, 246, 245, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ig-content-box {
    text-align: center;
}

.ig-img {
    position: relative;
    padding-bottom: 100%;
    cursor: pointer;
}

.ig-img img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.ig-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.ig-hover svg {
    display: block;
}

.ig-img:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    z-index: 0;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.ig-title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(27, 31, 35, 1);
}

.instagram-content a {
    display: inline-block;
    text-decoration: none;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: rgba(27, 31, 35, 1);
    padding: 18px 41px;
    margin-top: 32px;
}

.ig-img:hover:after,
.ig-img:hover .ig-hover {
    opacity: 1;
    visibility: visible;
}

@media (max-width:1400px) {
    .instagram-content a {
        margin-top: 24px;
    }
}